/* Navbar.css */

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90vw; /* Utilisation de 100vw pour la largeur de la vue */
  }
  
  .navbar-logo {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .navbar-links {
    margin-left: auto;
  }
  
  .navbar-links a {
    color: #333;
    text-decoration: none;
    margin-right: 20px;
    transition: color 0.3s ease;
  }
  
  .navbar-links a:hover {
    color: #555;
  }
  